@font-face{font-family: 'Montserrat', sans-serif; src:url('https://fonts.googleapis.com/css?family=Montserrat'); color:#004054;}  
/* @font-face{font-family: 'Montserrat', sans-serif; src:url('../fonts/Montserrat-Light.ttf'); color:#004054;} */
@font-face{font-family: 'Futura', sans-serif; src:url('../fonts/Futura_Bold.ttf'); color:#004054;}

font.yellow{color:#ffd320}
font.red{color:#ff0000}
font.green{color:#008000}
font.blue{color:#0066cc}

html{
	line-height:1.15;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}

body{
	margin:0;
	counter-reset:h1counter;
	background-image:url("../images/Watermark_Making_Data_Breaches_Irrelevant.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
 	background-attachment: fixed;
 	}

h1,h2,h3,h4,h5,h6{margin:1em 0 .4em 0;line-height:1.33;font-style:italic;}
h1{
	counter-increment:h1counter;
	counter-reset:h2counter;
	font-weight:600;
	font-size:300%;
	background-image:url("../images/Octo_100x137.png");
	background-repeat: no-repeat;
	background-position: 95% 20px;
	background-attachment: absolute;
	background-size:1.8em 2.4em;
	overflow: auto;
	z-index:200;
	padding: .5em 0 1.2em 0;
	overflow:auto;
}

h2{color:#343334;counter-reset:h3counter;counter-increment:h2counter}
h3{color:#818181;counter-increment:h3counter;}
h1:after{content:"";display:block;position:relative;top:.33em;border-bottom:1px solid hsla(186,100%,43%,1);z-index:-10}

h1:before {content:counter(h1counter)". ";
}
h2:before {content:counter(h1counter)"."counter(h2counter)". ";
}
h3:before {content:counter(h1counter)"."counter(h2counter)"."counter(h3counter)". ";
}

main{display:block}

pre{font-family:Liberation Mono,monospace,monospace;font-size:90%;color:#808080;background-color:#e9edee;padding:2px 4px 0px 4px;margin: 0 0 0 10px;vertical-align:middle}

a{background-color:transparent;-webkit-text-decoration-skip:objects}

b,strong{font-weight:inherit;font-weight:bolder}

code,kbd,samp{color:#6d6d6d;font-family:Liberation Mono,monospace;font-size:100%;background-color:#e9edee;padding:.3em;margin-top:.8em;vertical-align:middle}
	
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
	sub{bottom:-.25em}
	sup{top:-.5em}

img{
	border:1px solid #e9edee;
	vertical-align:middle;
}
	svg:not(:root){overflow:hidden}
img.floating{border:none}

button,input,optgroup,select,textarea{font-family:Monsterrat,sans-serif;font-size:100%;line-height:1.15;margin:0;font-weight:400;}
	button{overflow:visible}
	button,select{text-transform:none}
		[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}
		[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}
		[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}
	input{overflow:visible}
		[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}
		[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
		[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
		[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
		::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

[hidden],template{display:none}

body,html{
	color:#004054;
	font-size:100%;
	font-weight:400;
	font-family:Monsterrat Light,sans-serif;
	font-variant-ligatures:common-ligatures;
	line-height:1.5;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.layout__panel--editor, .layout__panel--preview{color:hsla(0,0%,100%,.75)}

blockquote,p{margin:.4em .4em;color:#004054;text-indent:0;}
	
	p.indent{text-indent:24px}
	p.address{font-size:75%;font-weight:700;color:#004054}

	.box_blue_outline
	{
		text-indent:3em;
		margin:.4em;
		padding:.4em .4em .4em .4em;
		color:#004054;
		border:1px solid #00c4d9;
		background-color:#e9edee;
		background-image:url("../images/key_strong_cyan.png");
		background-size: 2.5em 1em;
		background-repeat: no-repeat;
  		background-position: .4em .6em;
 		background-attachment: absolute;
 		width: 100%;
	}
	
	.box_blue_outline_table
	{
		text-indent:3em;
		margin:.4em .4em .4em .4em;
		padding:.4em .4em .4em .4em;
		color:#004054;
		border:1px solid #00c4d9;
		background-color:#e9edee;
		background-image:url("../images/key_strong_cyan.png");
		background-size: 3em 1em;
		background-repeat: no-repeat;
    	background-position: 5px 10px;
    	background-attachment: absolute;
    	right:5%;
	}
	
	.box_blue_outline_clear
	{
		margin:.4em;
		padding:.4em .4em .4em .4em;
		color:#004054;
		border:1px solid #00c4d9;
		background-color:#e9edee;
		right:5%;
	}
	
	.box_blue_outline_clear_list
	{
		padding:.4em;
		margin:.4em .4em .4em 3.7em;
		color:#004054;
		border:1px solid #00c4d9;
		background-color:#e9edee;
		right:5%;
	}
	
	.sk_title
	{
		color:#004054;
		font-size:300%;
		font-family:Futura-Bold;
		font-weight:600;
		letter-spacing:18;
		margin:.4em 0;
		text-align:center;
		margin:0;
		padding:0
	}
	.like_h1
	{
		margin:1em 0 .4em 0;
		line-height:1.33;
		font-weight:600;
		font-size:300%;
		font-style:italic;
		background-image:url("../images/Octo_100x137.png");
		background-repeat: no-repeat;
		background-position: 95% 20px;
		background-attachment: absolute;
		background-size:1.8em 2.4em;
		overflow: auto;
		z-index:100;
		padding: .5em 0 1.8em 0;
	}
	.like_h1:after{content:"";display:block;position:relative;top:.33em;border-bottom:1px solid hsla(186,100%,43%,1);z-index:-10}
	
	.like_h2
	{
		font-weight:600;
		font-size:250%;
		color:#343334;
		margin:1em 0 .4em 0;
		line-height:1.33;
		vertical-align:middle;
	}
	
	.like_h3
	{
		font-weight:600;
		font-size:200%;
		color:#818181;
		margin:1em 0 .4em 0;
		padding-left: 10px;
		line-height:1.33;
		vertical-align:middle;
	}
	.heavy
	{
		font-weight:600
	}

html>/**/body ol{ /* Won't be interpreted by IE6/7. */ list-style-type:decimal;counter-reset:level1}
html>body ul{ /* Won't be interpreted by IE6/7. */ list-style-type:disc}

ol, ul, dl{font-size:100%;margin:.4em .4em;color:#004054;text-indent:0}
ol ol,ol ul,ul ol,ul ul,ol dl,ul dl,dl dl{margin:0 0 0 10px}

ul{padding-left:20px;list-style-type:none}
p>ul{list-style-type:disc}
p>ul ul{color:#343334;list-style-type:circle}

.no_list{list-style-type:none}

li:before{
	line-height:1em;
}

a{color:rgba(0,196,217,1);text-decoration:underline;text-decoration-skip:ink}
	a:focus,a:hover{text-decoration:none}

code,pre,samp{font-family:Liberation Mono;font-size:100%;width:100%}
	code *,pre *,samp *{font-size:100%}

blockquote{color:rgba(0,0,0,.5);padding-left:1.5em;border-left:5px solid rgba(0,0,0,.075)}
	.app--dark .layout__panel--editor blockquote,.app--dark .layout__panel--preview blockquote{color:hsla(0,0%,100%,.4);border-left-color:hsla(0,0%,100%,.075)}

hr{border:0;border-top:1px solid hsla(0,0%,50%,.2);margin:2em 0;border-color:#00c4d9}

pre>code{background-color:rgba(0,0,0,.05);display:block;padding:.4em;-webkit-text-size-adjust:none;overflow-x:auto;white-space:pre;color:#000000;font-weight:300;font-size:100%}

table{background-color:transparent;border-collapse:collapse;border-spacing:0;border-right:0;border-left:0;margin:1em 0}
tr{vertical-align:middle}
tr.grey{background-color:rgba(0,0,0,.05)}
tr.med_grey{background-color:rgba(210,210,210,.05)}
th{background:rgba(0,0,0,.05)}
th,td{border-top:1px solid #aeaeae;padding:4px 4px;border-left:0;border-right:0;font-weight:600;font-size:100%}
	.table_header_left{text-align:left}
	.table_header_center{text-align:center}
	.table_header_right{text-align:right}
	.table_header_left_med_grey{text-align:left;background:rgba(210,210,210,.05)}
	.table_header_center_med_grey{text-align:center;background:rgba(210,210,210,.05)}
	.table_header_right_med_grey{text-align:right;background:rgba(210,210,210,.05)}

td{border-top:1px solid #aeaeae;padding:4px 4px;border-bottom:1px solid #aeaeae;border-left:0;border-right:0}
	.table_contents_left{font-weight:300;text-align:left}
	.table_contents_center{font-weight:300;text-align:center}
	.table_contents_right{font-weight:300;text-align:right}
	.table_list_item_left{font-weight:600;text-align:left}
	.table_list_item_center{font-weight:600;text-align:center}
	.table_list_item_right{font-weight:600;text-align:right}
	
td:last-child,th:last-child{border-bottom:1px solid #aeaeae;border-left:0;border-right:0}

img{max-width:100%;margin:.4em 0 .4em .4em}
.inline{margin:0;vertical-align:middle;border:0}

.strongkey__nav{text-align:center;display:block;position:fixed;max-width:13%;height:20%;top:0;left:0;z-index:150;overflow-x:none;overflow-y:visible;border:1;background-color:#ffffff;}
.strongkey__nav_bottom{text-align:left;display:block;position:fixed;width:13%;height:3em;bottom:0;padding:10;z-index:300;overflow-x:none;overflow-y:visible;background-color:#ffffff;}
.strongkey__right{text-align:left;display:block;position:absolute;left:20%;max-width:100%;top:0;right:0;overflow-y:scroll;overflow-x:none;z-index:0;padding:0 2% 0 2%}
.strongkey__toc2{display:block;position:fixed;top:200;bottom:70;text-align:left;padding:2%;overflow-y:scroll;overflow-x:none;width:17%;height:68%;z-index:200;bottom:5%}
.strongkey__toc2 ol{list-style-type:none;padding:0;display:block}
.strongkey__toc2 ol li:before {content:counter(level1)". ";counter-increment:level1;}
.strongkey__toc2 ol li a{color:#004054;}
.strongkey__toc2 ol li a:hover{color:#00c4d9;background-color:#e9edee}
.strongkey__toc2 ol li ol{list-style-type:none;counter-reset:level2;color:#343334;font-size:90%;margin:0 0 0 10px}
.strongkey__toc2 ol li ol li:before {content:counter(level1)"."counter(level2)". ";counter-increment:level2;}
.strongkey__toc2 ol li span{ /* For IE6/7. */ margin: 0 5px 0 -25px;}
.strongkey__toc2 ol li ol li a{color:#343334;}
.strongkey__toc2 ol li ol li a:hover{color:#00c4d9;background-color:#e9edee}
.strongkey__toc2 ol li ol li ol{list-style-type:none;counter-reset: level3;color:#818181;font-size:90%;margin:0 0 0 20px}
.strongkey__toc2 ol li ol li ol li:before {content:counter(level1)"."counter(level2)"."counter(level3)". ";counter-increment:level3;}
.strongkey__toc2 ol li ol li ol li a{color:#818181;}
.strongkey__toc2 ol li ol li ol li a:hover{color:#00c4d9;background-color:#e9edee;text-decoration:italic}
.strongkey__toc2 a:active,.strongkey__toc a:focus,.strongkey__toc a:hover{background-color:rgba(0,196,217,.5);border-radius:2px}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  padding: 10px;
  border: none;
  outline: none;
  width: 100%;
  display: block;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 10px;
  display: none;
  overflow: hidden;
}

.strongkey__nav_bottom a{color:#004054;}
.strongkey__nav_bottom a:hover{color:#00c4d9;background-color:#e9edee}

.task-list-item{list-style-type:none}
.task-list-item-checkbox{margin:0 .2em 0 -1.3em}
.footnote{font-size:80%;position:relative;top:-.25em;vertical-align:top}
.fineprint{font-size:80%;color:#343334;text-align:left;padding-left:10px}
.footer{font-size:80%;position:absolute;bottom:.2em;vertical-align:bottom;text-align:center}
.page-break-after{page-break-after:always}
.strongkey__html{margin-bottom:10em;padding:0;max-width:100%}
.strongkey__toc_title{display:block;color:#00c4d9;text-align:center;font-size:120%;font-weight:600;padding-left:20px;padding-right:20px;max-width:80%;border:0}
.strongkey__title{text-align:center;}

.strongkey__title li{padding:0;list-style-type:none;background-color:#000000}
.strongkey__title li a{margin:5px 0;padding:.5rem 1rem}


.print-only {display:none}
.screen-only{display:block}


@media (min-width:1060px){
	.strongkey__right{position:absolute;left:20%;right:0;top:0}
}

@media (min-width:1060px){.strongkey__right{left:20%}}
	.strongkey--pdf blockquote{border-left-color:#ececec}
	.strongkey--pdf .strongkey__html{padding-left:0;padding-right:0;max-width:none}

@media screen {
	#print-foot {display:none}
}

@media print {
	
	@page {
		size:8.5in 11in portrait;
		margin:2.2cm;
	}

	
	body {
		font-size:11pt;
		counter-reset:page;
		-webkit-print-color-adjust:exact;
		print-color-adjust:exact;
	}
	
	.print-only {display:block}
	.screen-only{display:none}
	.break {page-break-before:always}
	
	h1 {
		font-size:24pt;
		page-break-before:always;
		string-set: doctitle content();
		running-head: chapter;
	}
	
	@page {
		@bottom-left-corner {
	    	content: string(doctitle);
	    	margin: 0;
	    	font-size: 9pt;
		}
	}
	
	h2 {
		font-size:20pt
		running-head: section
	}
	
	h3 {font-size:18pt}
	
	h1,h2,h3{page-break-after:avoid-page;}
	
	ul {
	 	page-break-inside:avoid;
	}
	
	table{width:100%}
	
	tr,td,li {
	 	page-break-inside:avoid;
	  	widows:2;
		orphans:3;
	}
	
	a[href^="http://"]:after {
	    content: " (" attr(href) ")";
	}
	
	pre,code,tr,td,li {font-size:10.5pt}
	
	p{
		widows:2;
		orphans:3;
	}
	.fineprint{font-size:60%}
	.strongkey__nav{text-align:center;display:block;position:relative;max-width:96%;height:auto;top:0;margin:auto;z-index:150;overflow-x:none;overflow-y:visible;border:0;background-color:#ffffff}
	.strongkey__nav_bottom{text-align:left;display:block;width:96%;height:2em;left:3em;z-index:300;overflow-x:none;overflow-y:visible;background-color:#ffffff}
	.strongkey__right{text-align:left;display:block;position:relative;max-width:96%;left:0;z-index:0;padding:0;overflow:hidden}
	.strongkey__toc2{display:block;position:relative;top:20;text-align:left;margin:auto;overflow:visible;width:96%;height:auto;z-index:200}
	.strongkey__toc2 a{background-color:none;border-radius:0px;text-decoration:none}
	.like_h1 {
		text-align:left;
		valign:middle;
		margin:auto;
		line-height:1.33;
		font-weight:600;
		font-size:24pt;
		text-style:italic;
		overflow: auto;
		z-index:100;
		padding: .5em 0 1.8em 0;
		background-image:url("../images/Octo_100x137.png");
		background-repeat: no-repeat;
		background-position: 95% 20px;
		background-attachment: absolute;
		background-size:1.8em 2.4em;
	}
	.like_h2
	{
		font-weight:600;
		font-size:22pt;
		color:#343334;
		margin:1em 0 .4em 0;
		line-height:1.33;
		vertical-align:middle;
		page-break-after:avoid;
	}
	.like_h3 {
		font-size:20pt;
		page-break-after:avoid;
	}
}


				